<tr>
  <td>{{full_name}}</td>
  <td>{{phone}}</td>
  <td>{{service_category}}</td>
  <td>{{login}}</td>
  <td>
    <a href="/masters/edit/{{id}}" class="btn-flat tooltipped" data-tooltip="Редактировать">
      <i class="material-icons">edit</i>
    </a>
    <a href="/masters/delete/{{id}}" class="btn-flat red-text tooltipped" data-tooltip="Удалить" onclick="return confirm('Удалить мастера?');">
      <i class="material-icons">delete</i>
    </a>
  </td>
</tr>
